@font-face {
  font-family: AlexBrush;
  src: url(alex-brush/AlexBrush-Regular.ttf);
}
body {
  text-align: center;
  font-family: AlexBrush;
}

.page-img {
  background-image:url("bckgrn-img.jpg");
    }