@font-face {
  font-family: AlexBrush;
  src: url(alex-brush/AlexBrush-Regular.ttf);
}

body {
  font-family: AlexBrush;
  background-image: url("bckgrn-img.jpg");
  background-size: cover;
}

.page-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}